#upload{
    background-color: #F8F8F7;
    border-radius: 20px;
}

#close{
    float: right;
    margin: 3%;
}

#uploadTitle{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    padding: 15% 0 2% 0;
}

#uploadDescription{
    font-size: 1rem;
    text-align: center;
    color:  #8C8C8C;
}

#uploadArea{
    background-color: #FFFFFF;
    margin: 3% 3% 0 3%;
    padding-bottom: 3%;
    border-radius: 20px;
}

.uploadImg{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

#instructions{
    position: relative;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: auto;
    display: inline-block;
    font-size: 1.1rem;
}

#image-label{
    color: #8C8C8C;
    text-align: center;
    margin-top: 2vh;
    font-size: 1.1rem;
}

#upload #label{
    display: inline-block;
    margin-top: 2vh;
    padding: 1.5%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}

#upload-response{
    background-color: #FFFFFF;
    margin: 3%;
    font-size: 1.2rem;
    padding: 2%;
    color: #8C8C8C;
    border-radius: 10px;
}

