.home {
    margin: 0 0 2% 7%;
    border-radius: 5vw;
}



.home-img{
    width: clamp(200px, 45vw, 775px);
    height: auto;
    z-index: 3;
    float: right;
    position: relative;
    left: 4%;
    background-color: #FBE0DC;
    border-radius: 10%;

}
