#flexbox2 {
    display: inline-block;
}

.main-content {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px 6px 4px 6px;
}

.photo-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 150px;

}

#upper-actions{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    margin-bottom: 2%;
    height: 32px;
}

.back {
    background-color: #FBE0DC;
    border-radius: 9px;
    flex-basis: 10%;
    padding: 4px;
}

.upload{
    margin-left: auto;
    background-color: #FBE0DC;
    border-radius: 9px;
    padding: 4px 0 0 0;
    color: #FF868E;
    font-size: 0.8em;
    flex-basis: 20%;
}

#settings{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    background-color: #F8F8F7;
    row-gap: 15px;
    column-gap: 6%;
    padding: 2%;
    border-radius: 9px;
    margin-bottom: 2%;
}

.select{
    border-radius: 9px;
}



.selector-label{
    color: #8C8C8C;
    font-size: 0.7rem;
    padding: 0 0 0.8% 3%;
}

#settings .ant-select:not(.ant-select-customize-input)  .ant-select-selector{
    background-color: #FFFFFF;
}